* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* kleur aanpassing */
:root {
  --white: #ffffff;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "subnav"
    "main"
    "footer";
}

header {
  grid-area: header;
}

/* sidebar Menu... Ik moet nog afmaken maar de HTML staat goed voor nu. 
Algemene styling voor de sidebar dus */

nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  grid-area: subnav;
}

.sidebar {
  width: 4.4em;
  background-color: lightgrey;
  overflow: hidden;
  transition: 0.5s;
  list-style-type: none;
  height: 100%;
}

.sidebar:hover {
  width: 11em;
}
nav img {
  width: 1em;
}

.sidebar ul {
  height: 100%;
  position: relative;
  width: 5em;
}

.sidebar ul li a:hover {
  opacity: 50%;
}

.sidebar ul li {
  list-style: none;
  margin-top: 1em;
}

.sidebar ul li:hover {
  background: lightgrey;
}

.sidebar ul li a {
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
}

.sidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  min-width: 50px;
  height: 2em;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.sidebar ul li a .text {
  color: black;
  position: relative;
  height: 3.5em;
  display: flex;
  align-items: center;
  font-size: 1em;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

/* ---------Sidebar Einde */

header ul {
  height: 5em;
  background: #0a3250;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  grid-area: header;
  color: white;
}

/* Logo */
header ul p {
  font-size: 2rem;
}

header ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  justify-content: space-between;
  padding: 2em;
}

nav ul a {
  text-decoration: none;
  color: black;
  padding: 0 1.5rem;
}

main {
  grid-area: main;
}

/* Initiatieven */
main {
  padding: 2em;
}

main ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}

main li {
  display: block;
  padding: 2em;
  width: 18em;
  height: 25em;
  background: rgb(245, 245, 245);
  border: 0.15rem solid;
  background-image: linear-gradient(
    180deg,
    rgba(10, 50, 80, 1) 0% 42%,
    rgba(255, 255, 255, 1) 42% 100%
  );
}

main ul a {
  text-decoration: none;
  color: #0a3250;
}

/* styling van de images in de kaartjes */
main ul a img {
  position: relative;
  bottom: 2em;
  right: 2em;
  height: 10em;
  width: 17.75em;
  justify-content: center;
  align-items: center;
}

/* styling van de tekst in de kaartjes */
main ul a li h2 {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  bottom: 0.4em;
  /* top: 1.5em; */
}

@media (min-width: 40rem) {
  body {
    grid-template-columns: 10rem 1fr;
    grid-template-areas:
      "header header"
      "subnav main"
      "footer footer";
  }
}

/* styling footer */

footer {
  grid-area: footer;
  background: rgba(10, 50, 80, 1) 0% 42%;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.3em;
}

footer div {
  text-align: center;
}

footer div h3 {

  font-weight: bold;
  margin-bottom: 1em;
  letter-spacing: 1px;

}

footer img {
  width: 2em;
  margin-top: 1em;
}
