* {
  margin: 0;
  padding: 0;
}

body {
  grid-template-areas:
    "h h h h h"
    " n m m m m "
    " n m m m m "
    " f f f f f";
}

header {
  grid-area: h;
  background-color: #46aa64;
  height: 5em;
}

body nav {
  width: 5em;
  background-color: lightgrey;
}
